#about .container {
  margin: var(--margin);
  display: flex;
  flex-direction: row;
}
.about-img {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 100%;
  box-shadow: var(--shadow);
  border: 2px #fff solid;
}

@media (max-width: 668px) {
  #about .container {
    flex-direction: column;
  }
  .about-img {
    width: 300px;
    height: 300px;
  }
}
