#about {
  min-height: 100vh;
  height: auto;
  overflow-y: hidden;  
  width: var(--width);
 max-width: 100vw;
 margin: 0 auto;
}
.about-container {
  max-width: 80%;
  margin: 0;
  padding: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100vh;
  overflow: hidden;
}

.about-img {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 30% 100%;
  box-shadow: var(--shadow);
  border: 2px #fff solid;
  margin-bottom: 20px;
}

.about-text {
  background-color: var(--container);
  width: 80%;
  height: auto;
  margin: 10px auto;
  padding: 20px;
  box-shadow: var(--shadow);
  max-width: 600px;
  margin-bottom: 20px;
 
}

.about-text h5 {
  margin-bottom: 10px;
}

.about-text p {
  padding: 0;
  margin: 0;
}

@media (max-width: 668px) {

  .about-container {
    padding-bottom: 300px; 


  }
  .about-img {
    width: 300px;
    height: 300px;
  }
}
