#about {
  overflow: hidden;
  width: var(--width);
  height: auto;
  width: 90%;
  margin: 10px auto;
  min-height: 100vh;
}
.about-container {
  max-width: 600px;
  margin: 0;
  padding: 0;

  top: 0;
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100vh;
  overflow: hidden;
}

.about-img {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 30% 100%;
  box-shadow: var(--shadow);
  border: 2px #fff solid;
  margin-bottom: 20px;
}

.about-text {
  background-color: var(--container);
  width: 90%;
  height: auto;
  margin: 10px auto;
  padding: 20px;
  box-shadow: var(--shadow);
  max-width: 600px;
}

.about-text h5 {
  margin-bottom: 10px;
}

.about-text p {
  padding: 0;
  margin: 0;
}

@media (max-width: 668px) {
  .about-container {
    min-width: 100px;
    padding-bottom: 300px;
    padding: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 auto;
    width: 80%;
    padding-bottom: 100px;
  }
  .about-img {
    width: 80%;
    height: 80%;
    padding: 0;
    margin: 20px auto;
    margin-bottom: 20px;
    min-height: 200px;
  }

  .about-text {
    margin-bottom: 10px;
  }
}
