#contact .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
top: 0px;

}
.contact-container {
  background-color: var(--container);
  width: 300px;
  max-width: 90%;
  border-radius: 10%;
  box-shadow: var(--shadow);
  top: 0;
}
.icon {
  display: flex;
  flex-direction: row;
  margin: var(--margin);
  align-items: center;
  justify-content: center;
}
.icon img {
  width: 25px;
  height: auto;
  margin: 10px auto;
}

.contact-content {
  display: flex;
}
.contact-link {
  text-decoration: none;
  margin: 0 auto;
  margin-top: 10px;
  margin-left: 10px;
  font-weight: 400;
  color: var(--primary);
}

@media (max-width: 412px) {
  #contact h2 {
    margin: 0px;
  }


  .contact-container {
    width: 200px;
  }
}
