#hero {
  min-height: 100vh;
  width: var(--width);
  max-width: var(--width);
  margin: 10em auto;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#mediaVideo {
  max-width: var(--width);
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#video-placeholder {
  width: var(--width);
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero-text {
  width: 90vw;
  max-width: 600px;
  margin: var(--margin);
  padding: 0;
}
#hero h2,
#hero h1 {
  display: inline-flex;
  font-family: 'Impact', sans-serif;
  background: url('https://picsum.photos/id/73/1920/1080');
  font-size: 9rem;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #5b728a54;
  animation: move 30s linear infinite;
  z-index: 1000;
  padding: 0;
  margin: 0;
}
@keyframes move {
  from {
    background-position: 0 80%;
  }
  to {
    background-position: 100% 50%;
  }
}

#hero h2 {
  font-size: 4.5em;
}

@media (max-width: 412px) {
  #hero h1 {
    font-size: 5.5em;
  }
  #hero h2 {
    font-size: 3em;
  }
}
