#hero {
  min-height: 100vh;
  width: 100%;
  margin: 10em auto;
}

#mediaVideo {
  max-width: 100%;
  width: 100vw;
}
#video-placeholder {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#hero h1,
#hero h2 {
  font-family: 'Jovelyn', sans-serif;
  font-size: 7em;
  margin: 0 auto;
  text-align: center;
  color: var(--white);
  text-shadow: var(--shadow);
  letter-spacing: 0.1em;
  position: absolute;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  
}

#hero h1 {
  font-size: 6em;
  bottom: 85%;
  transform: translateX(-15%);
  width: var(--width);
}

#hero h2 {
  font-size: 4.5em;
  top: 85%;
  transform: translateX(45%);
  max-width: 50%;
}

.hero-img-1 {
  background-image: url('../assets/images/hero1.png');
  background-size: cover;
  background-repeat: none;
  height: 250px;
  max-width: 600px;
  margin: 10em auto;
  width: 95%;
  justify-content: center;
  align-items: center;
  position: relative;
  object-position: bottom 50%;
}

.hero-img-2 {
  background-image: url('../assets/images/hero2.png');
  height: 300px;
  max-width: 500px;
  background-size: contain;
  width: 450px;
  transform: translate(40%, -50%);
  margin: 0 auto;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 668px) {
  #hero h1 {
    font-size: 4em;
    transform: translateX(-10%);
    letter-spacing: none;
    top: -15%;
  }

  .hero-img-1 {
    width: 80%;
    height: 300px;
  }
  #hero h2 {
    top: 93%;
    font-size: 2.5em;
  }
  .hero-img-2 {
    width: 60%;
    transform: translate(55%, -50%);
    background-position: right 10%;
  }
}

@media (max-width: 412px) {
  #hero h1 {
    font-size: 3em;
    transform: translateX(-12%);
    letter-spacing: none;
  }
  #hero h2 {
    font-size: 2em;
  }

  .hero-img-2 {
    background-position: right 10%;
  }
}
