#navbar {
  color: #fff;
  padding: 15px 0;
  min-width: var(--min-width);
  height: 40px;
  z-index: 1000;
}
.nav-content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
  padding: 0px 10px;

}

.logo {
  font-family: 'Jovelyn', sans-serif;
  font-size: 25px;
  letter-spacing: 0.1em;
  color: var(--white);
  text-decoration: none;
}

.logo-full,
.logo-short {
  display: none;
}

.logo-full {
  display: inline;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline-block;
  margin-left: 20px;
}

.menu li a {
  color: var(--white);
  text-decoration: none;
}

/* Media query for smaller screens */
@media (max-width: 668px) {
  #navbar {
    background-color: var(--dark);
    position: fixed;
    width: 100%;
    min-width: 320px;
    box-shadow: var(--shadow);
  }

  .menu-icon .bar {
    width: 30px;
    height: 3px;
    margin: 5px;
    border-radius: 2px;
  }

  .logo {
    font-size: 30px;
  }

  .logo-full {
    display: none;
  }

  .logo-short {
    display: inline;
  }

  .menu {
    display: none;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0;
    height: 200px;
    background-color: var(--dark);
  }

  .menu li {
    padding: 10px;
  }
  .menu a {
    padding: 10px;
  }

  .menu.show {
    display: flex;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .bar {
    width: 25px;
    height: 3px;
    background-color: var(--white);
    margin: 5px;
  }
}
