#navbar {
  color: #fff;
  padding: 15px 0;
}
.nav-content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--margin);
  padding: 0px 10px;
}

.logo {
  font-family: 'poppins', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: var(--white);
  text-decoration: none;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline-block;
  margin-left: 20px;
}

.menu li a {
  color: var(--primary);
  text-decoration: none;
}

/* Media query for smaller screens */
@media (max-width: 668px) {
  #navbar {
    background-color: var(--container);
    position: fixed;
    width: 100%;
  }

  .menu-icon .bar {
    width: 25px;
    height: 3px;
    background-color: var(--primary);
    margin: 5px;
  }

  .logo {
    color: var(--primary);
  }
  .menu {
    display: none;
    flex-direction: column;
    align-items: center;
    color: var(--primary);
    width: 100%;
    position: absolute;
    top: 79px;
    left: 0;
    height: 200px;
    background-color: var(--container);
   
  }

  .menu li {
    padding: 10px;
  }
  .menu a {
    padding: 10px;
  }

  .menu.show {
    display: flex;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .bar {
    width: 25px;
    height: 3px;
    background-color: var(--white);
    margin: 5px;
  }
}
