#navbar {
  color: #fff;
  padding: 15px 0;
}

.logo {
  font-family: 'poppins', sans-serif;
  font-size: 15px;
  font-weight: 100;
  color: var(--primary);
  text-decoration: none;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline-block;
  margin-left: 20px;
}

.menu li a {
  color: var(--primary);
  text-decoration: none;
}

/* Media query for smaller screens */
@media (max-width: 668px) {
  .menu {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    height: 200px;
  }

  .menu li {
    padding: 10px;
  }
  .menu a {
    padding: 10px;
  }

  .menu.show {
    display: flex;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .bar {
    width: 25px;
    height: 3px;
    background-color: var(--white);
    margin: 5px;
  }
}
