#projects {
  overflow: hidden;
  width: var(--width);
  height: auto;
  width: 90%;
  margin: 10px auto;
  min-height: 100vh;
}

.projects-slider {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  width: var(--width);
}

.projects-grid {
  display: flex;
  width: var(--width);
  transition: transform 0.5s ease-in-out;
  justify-content: flex-start;
}

.card-container {
  flex: 0 0 100%;
  width: var(--width);
  margin: 0 auto;
  height: auto;
  top: 10;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px #fff solid;
  background-color: var(--container);
  box-shadow: var(--shadow);
  max-width: 400px;
  height: 870px;
  width: var(--width);
  align-items: center;
  margin: var(--margin);
  padding: 10px;
}

.card:hover {
  transform: scale(1.01);
}

.card img {
  width: var(--width);
  max-width: var(--width);
  height: 600px;
  display: block;
  position: relative;
  object-fit: cover;
}

.card-text {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.card-link {
  text-decoration: none;
  color: var(--dark);
  margin: 20px 10px;
  font-size: 15px;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.5);
  border-color: #fff;
}

.next {
  right: 0;
}

@media (max-width: 668px) {
  .card {
    flex-direction: column;
    height: auto;
    justify-content: center;
    width: 90%;
    max-width: 400px;
    height: auto;
  }
  .card img {
    width: var(--width);
    height: auto;
    object-fit: cover;
  }
}
