.container {
  width: var(--width);
  margin: 0 auto;
  align-items: center;
  height: 100vh;
  max-height: calc(100vh - 100px);
}



.card {
  display: flex;
  flex-direction: row;
  border: 1px #fff solid;
  margin: 10px auto;
  background-color: var(--container);
  box-shadow: var(--shadow);
  max-width: 800px;
  width: 95%;
  margin-bottom: 10px;
}

.card img {
  width: var(--width);
  max-width: 400px;
  height: auto;
  display: block;
  top: 0;
  position: relative;
}

.card-text {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.card-link {
  text-decoration: none;
  color: var(--dark);
  margin: 20px 10px;
  font-size: 15px;
}

.body.open > .modal,
.modal-content {
  transition: 0.5s;
}

@keyframes modal-in {
  0% {
    transform: translate (-50%, 50%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate(-50%, calc(10px + 10px));
  }
}
/* Modal Styles */

body.open .overlay {
  display: block;
}
body.open {
  overflow: hidden;
}



.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: var(--width);
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.508);
  backdrop-filter: blur(5px);
  overflow-y: hidden;
}
.modal {
  display: none;
  position: fixed;
  flex-direction: column;
  z-index: 1000;
  width: 90%;
  max-width: 800px;
  box-shadow: var(--shadow);
  overflow-y: auto;
  border: 1px solid #fefefe;  
  margin: 10px auto;
  top: 10%;
  height: 80%;
  align-items: center;
}
.modal img {
  width: var(--width);
  height: auto;
  margin: 30px 0;
}

.close {
  color: #fff;
  position: absolute;
  top: 80px;
  right: 20px;
  font-size: 30px;
  font-weight: bold;
  z-index: 1001;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}



@media (max-width: 668px) {
  .card {
    flex-direction: column;
    height: auto;
    justify-content: center;
    width: var(--width);
    max-width: 400px;
  }
  .card img {
    width: var(--width);
    height: auto;
    object-fit: cover;
  }

  .modal {
    display: none;
    position: fixed;
    flex-direction: column;
    z-index: 1000;
    left: 50%;
    max-width: 90%;
    width: 90%;
    transform: translate(-50%, -0%);
    box-shadow: var(--shadow);
    overflow-y: auto;
    border: 1px solid #fefefe;  
    margin: 10px auto;
    top: 10%;
    height: 80%;
  }

  
  
  .close {
    color: #fff;
    position: absolute;
    top: 80px;
    right: 20px;
    font-size: 30px;
    font-weight: bold;
    z-index: 1001;
  }
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal img {
    width: var(--width);
    height: auto;
    margin: 30px 0;
  }
  

}
