.container {
  width: var(--width);
  height: 100vh;
  margin: 0 auto;
  align-items: center;
}

.container h2 {
  font-size: 2em;
  margin-top: 5em;
}
.card {
  display: flex;
  flex-direction: row;
  border: 1px #fff solid;
  margin: 20em auto;
  background-color: var(--container);
  box-shadow: var(--shadow);
  max-width: 800px;
  height: 450px;
  width: 95%;
  
}

.card img {
  width: 100%;
  max-width: 400px;
  height: auto;
  display: block;
  top: 0;
  position: relative;
}

.card-text {
    display: flex;
    flex-direction: column;
}
.card-link {
  text-decoration: none;
  color: var(--dark);
  justify-content: flex-end;
  margin: 10px 20px;
}

.view-more-btn {
    height: 40px;
    width: 200px;
    background-color: var(--secondary);
    color: var(--white);
    border: none;
    font-family: 'poppins', sans-serif;
}

@media (max-width: 668px) {
  .card {
flex-direction: column;
height: auto;
justify-content: center;
width: var(--width);
max-width: 450px;

  }
  .card img {
    width: var(--width);
    height: auto;
    object-fit: cover;
   
  }
}
